#end-game {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#end-game h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #ff0044;
  margin-bottom: 20px;
}

#start-button {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #f8b9d4;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#start-button:hover {
  background-color: #f4a1c1;
}
